AUTH_CLIENT_ID="replace-with-oauth-client-id-from-auth.fossbilling.net"
AUTH_CLIENT_SECRET="replace-with-oauth-client-secret-from-auth.fossbilling.net"
SESSION_SECRET="replace-with-openssl-rand-base64-32"
